<nav class="navbar navbar-expand-md" [ngClass]="getNavbarTheme()">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#" [ngClass]="getNavbarTextTheme('logo')">
                <img [src]="getNavbarIcon()" width="50px" alt="Logo" class="d-inline-block align-text-center"> Football
                Bets
            </a>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <div class="navbar-nav d-md-none">
                <a class="nav-link" [ngClass]="getNavbarTextTheme('dark-theme')" (click)="toggleDarkMode()">
                    <span class="mat-icon dark_mode"></span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav d-none d-md-block">
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home" [ngClass]="getNavbarTextTheme('home')"
                                (click)="selectedTab = 'home'">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [ngClass]="getNavbarTextTheme('leagues')"
                                (click)="selectedTab = 'leagues'">Leagues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" [ngClass]="getNavbarTextTheme('settings')"
                                (click)="selectedTab = 'settings'">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile" [ngClass]="getNavbarTextTheme('profile')"
                                (click)="selectedTab = 'profile'">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="getNavbarTextTheme('dark-theme')" (click)="toggleDarkMode()">
                                <span class="mat-icon dark_mode"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>