.navbar {
    background-color: #333;
}
.my-nav .collapse {
    position: fixed;
    right: 0;
    top: 3.5rem;
}

.navbar-brand {
    color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
    font-size: 30;
    display: inline-block;
    line-height: 2%;
    text-align: left;
}