.card {
    box-shadow: 0 1px 3px 0 black, 0 1px 1.5px 0 rgba(0, 0, 0, 0.4);
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    height: fit-content;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: rgb(93, 203, 109);
}