.profile-card {
    margin-top: 20px;
}

.profile-card .card {
    margin-bottom: 30px;
    border: none;
    background: #eee;
}

.profile-card .card .card-body {
    padding: 20px;
}

.profile-card .card .card-body .profile-image {
    text-align: center;
}

.profile-card .card .card-body .profile-image img {
    width: 130px;
    border-radius: 50%;
}

.profile-card .card .card-body .profile-name {
    text-align: center;
    margin-top: 20px;
}

.profile-card .card .card-body .profile-name h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

.profile-card .card .card-body .profile-name p {
    color: #aaa;
}

.profile-card .card .card-body .profile-name p span {
    color: #000;
}

.profile-card .card .card-body .profile-name p .badge {
    font-size: 12px;
    padding: 5px 10px;
    background: #000;
    color: #fff;
}

.profile-card .card .card-body .profile-name .btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 0;
    font-size: 12px;
}

.profile-card .card .card-body .profile-name .btn .fa {
    margin-right: 5px;
}

.profile-card .card .card-body .profile-name .btn.btn-danger {
    background: #ff5e5e;
    border-color: #ff5e5e;
}