/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
html, body {
  width: 100% !important;
  height: 100% !important;
}
